# IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data=pd.read_excel("meanmodemedian.xlsx")
print(data)

   Gender   Salary    Country  Company
0    Male  15000.0      India   Google
1  Female  45000.0      China      NaN
2  Female  25000.0      India   Google
3     NaN      NaN  Australia   Google
4    Male      NaN      India   Google
5    Male  54000.0        NaN  Alibaba
6     NaN  74000.0      China      NaN
7    Male  14000.0  Australia      NaN
8  Female  15000.0        NaN      NaN
9    Male  33000.0  Australia      NaN

In [ ]:
# Create a DataFrame
# data = pd.DataFrame({
#     'Gender': ['Male', 'Female', 'Female', None, 'Male', 'Male', None, 'Male', 'Female', 'Male'],
#     'Salary': [15000.0, 45000.0, 25000.0, None, None, 54000.0, 74000.0, 14000.0, 15000.0, 33000.0],
#     'Country': ['India', 'China', 'India', 'Australia', 'India', None, 'China', 'Australia', None, 'Australia'],
#     'Company': ['Google', None, 'Google', 'Google', 'Google', 'Alibaba', None, None, None, None]
# })

# MEDIAN USING FILLNA

In [21]:
median_sal = data['Salary'].median()
print(median_sal)
data['Salary'].fillna(median_sal,inplace=True)
print(data)

29000.0
   Gender   Salary    Country  Company
0    Male  15000.0      India   Google
1  Female  45000.0      China      NaN
2  Female  25000.0      India   Google
3     NaN  29000.0  Australia   Google
4    Male  29000.0      India   Google
5    Male  54000.0        NaN  Alibaba
6     NaN  74000.0      China      NaN
7    Male  14000.0  Australia      NaN
8  Female  15000.0        NaN      NaN
9    Male  33000.0  Australia      NaN

# MEAN USING FILLNA

In [24]:
mean_sal = data['Salary'].mean()
print(mean_sal)
data['Salary'].fillna(mean_sal,inplace=True)
print(data)

33300.0
   Gender   Salary    Country  Company
0    Male  15000.0      India   Google
1  Female  45000.0      China      NaN
2  Female  25000.0      India   Google
3     NaN  29000.0  Australia   Google
4    Male  29000.0      India   Google
5    Male  54000.0        NaN  Alibaba
6     NaN  74000.0      China      NaN
7    Male  14000.0  Australia      NaN
8  Female  15000.0        NaN      NaN
9    Male  33000.0  Australia      NaN

# MODE USING FILLNA

In [30]:
mode_country =data['Country'].mode()[0]
print(mode_country)
data['Country'].fillna(mode_country,inplace=True)
print(data)

Australia
   Gender   Salary    Country  Company
0    Male  15000.0      India   Google
1  Female  45000.0      China      NaN
2  Female  25000.0      India   Google
3     NaN  29000.0  Australia   Google
4    Male  29000.0      India   Google
5    Male  54000.0  Australia  Alibaba
6     NaN  74000.0      China      NaN
7    Male  14000.0  Australia      NaN
8  Female  15000.0  Australia      NaN
9    Male  33000.0  Australia      NaN

In [83]:
mode_gender = data['Gender'].mode()[0]
print(mode_gender)
data['Gender'].fillna(mode_gender,inplace=True)
print(data)

Male
   Gender                            Salary    Country  Company
0    Male  SimpleImputer(strategy='median')      India   Google
1  Female  SimpleImputer(strategy='median')      China      NaN
2  Female  SimpleImputer(strategy='median')      India   Google
3    Male  SimpleImputer(strategy='median')  Australia   Google
4    Male  SimpleImputer(strategy='median')      India   Google
5    Male  SimpleImputer(strategy='median')  Australia  Alibaba
6    Male  SimpleImputer(strategy='median')      China      NaN
7    Male  SimpleImputer(strategy='median')  Australia      NaN
8  Female  SimpleImputer(strategy='median')  Australia      NaN
9    Male  SimpleImputer(strategy='median')  Australia      NaN